<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BATMAN | PARTIE 1</title>
    <!-- <link rel="stylesheet" href="./assets/css/style.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./assets/styles/main.css" />
  </head>
  <body>
    <!-- Les bars en haut en bas et a gauche -->
    <div class="up-bar"></div>
    <div class="left-bar"></div>
    <div class="right-bar"></div>
    <!-- Voici le Scrollbar icone à coté -->
    <div class="scroll">
      <a href="#header"
        ><img
          class="arrow2 hoveryellow"
          src="./assets/Logos/logo_bat_flèche.png"
          alt="" /></a
      ><img
        class="social hoveryellow"
        src="./assets/Logos/icon_facebook.png"
        alt=""
      />
      <img
        class="social hoveryellow"
        src="./assets/Logos/icon_ig.png"
        alt=""
      /><img
        class="social hoveryellow"
        src="./assets/Logos/icon_tw.png"
        alt=""
      />
      <a href="#contact"
        ><img
          class="arrow2 hoveryellow"
          src="./assets/Logos/logo_bat_flèche_2.png"
          alt=""
      /></a>
    </div>

    <!-- Fin de cette scrollbar -->
    <header id="header">
      <nav class="container">
        <a href="index.html"
          ><img class="brand" src="./assets/Logos/logohome.png" alt=""
        /></a>
        <i class="fas fa-regular fa-2x fa-bars menu-mobile"></i>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="game.html">GAME</a></li>
        </ul>
      </nav>
    </header>
    <!-- Header en tete -->
    <section id="hero_game">
      <div class="container">
        <div class="content">
          <h2 class="titre">Let's play a <br />Little Game</h2>
        </div>
        <img
          class="fleche"
          src="./assets/Logos/flèche_down_header.png"
          alt=""
        />
      </div>
    </section>

    <!--footer-->
    <footer>
      <div class="container">
        <div class="text-footer">
          <img src="./assets/Logos/icon_WB.png" alt="" />
          Ce projet respecte l’univers cinématographique des films Batman
          récents. Version Nolan & Snyder & Reeves
        </div>
        <div class="social-footer">
          <a href="" class="social-item hoveryellow">
            <img width="2%" src="./assets/Logos/logo_sayna_white.png" alt="" />
            <img src="./assets/Logos/icon_x.png" alt="" />
            <img width="2%" src="./assets/Logos/icon_DC.png" alt="" />
          </a>
          <a href="" class="social-item"
            ><img
              class="hoveryellow"
              src="./assets/Logos/icon_facebook.png"
              alt=""
          /></a>
          <a href="" class="social-item"
            ><img class="hoveryellow" src="./assets/Logos/icon_ig.png" alt=""
          /></a>
          <a href="" class="social-item"
            ><img class="hoveryellow" src="./assets/Logos/icon_tw.png" alt=""
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>